// Logo font face [https://fonts.google.com/specimen/Rye](https://fonts.google.com/specimen/Rye)

// Title H1 [https://fonts.google.com/specimen/Holtwood+One+SC](https://fonts.google.com/specimen/Holtwood+One+SC)

// Heading [https://fonts.google.com/specimen/Bungee](https://fonts.google.com/specimen/Bungee)

// Subheading (bump down heading)

// Body Labels (bump up body font size)

// Body [https://fonts.google.com/specimen/Roboto](https://fonts.google.com/specimen/Roboto)

.logo-font {
    font-family: 'Rye', cursive;
    font-size: calc(1.5rem + 1vw);
}

.title-heading {
    font-family: 'Holtwood One SC', serif;
    font-size: calc(1rem + 2vw)
}

.main-heading {
    font-family: 'Bungee', cursive;
}

.sub-heading {
    font-family: 'Bungee', cursive;
}

.body-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.body-highlight {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.body-copy {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.8;
}

p {
    @extend .body-copy;
}

h2 {
    @extend .sub-heading;
}

h3 {
    @extend .body-heading;
    font-style: italic;
}
