.feature-img-and-title-container {
    overflow: hidden;
    position: relative;
    .feature-img-container {
        height: 3   0vh;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding-top: 1/3 * 100%;
        img {
            position: absolute;
            top: 0;
            width: auto;
            height: auto;
            max-height: 100%;
            min-height: 100%;
            min-width: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .page-title {
        padding: 0.25rem 0.825rem;
        bottom: 0.5rem;
        z-index: 2;
        left: 2rem;
    }
    .page-title, img {
        position: absolute;
    }
}
