.light {
    background-color: $primary;
    color: $neutral-dark;
    
    &#wrapper-footer {
        background-color: $primary;
        color: $acent-blue;

        #footer-nav ul li a, a {
            color: $accent-blue;
        }
    
}

// Body Text
// Heading
// Label Heading
// Subheading

.dark {
    background-color: $accent-blue;
    color: $primary;

    &#wrapper-footer {
        background-color: $neutral-dark;
    }
}
