.light {
    background-color: $primary;
    color: $neutral-dark;
}

// Body Text
// Heading
// Label Heading
// Subheading

.dark {
    background-color: $accent-blue;
    color: $primary;

    &#wrapper-footer {
        background-color: $neutral-dark;
    }
}
